<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" link href="{{ url_for('static', filename='styles/reset.css') }}">
    <link rel="stylesheet" type="text/css" link href="{{ url_for('static', filename='styles/checkbox.css') }}">
</head>
<body>
<div class="col-md-4">
<div class="col-md-6">
  <h4>Choose Your Top Attractions</h4>
      <div class="funkyradio" align-items="center" style="margin-left: 550px; margin-right: 0px";>
        <div class="funkyradio-default">
            <input type="checkbox" name="checkbox" id="checkbox1" checked/>
            <label for="checkbox1">Georgia Aquarium</label>
        </div>
        <div class="funkyradio-default">
            <input type="checkbox" name="checkbox" id="checkbox2" checked/>
            <label for="checkbox2">Fox Theatre</label>
        </div>
        <div class="funkyradio-default">
            <input type="checkbox" name="checkbox" id="checkbox3" checked/>
            <label for="checkbox3">Atlanta Botanical Garden</label>
        </div>
        <div class="funkyradio-default">
            <input type="checkbox" name="checkbox" id="checkbox4" checked/>
            <label for="checkbox4">Center for Civil and Human Rights</label>
        </div>
        <div class="funkyradio-default">
            <input type="checkbox" name="checkbox" id="checkbox5" checked/>
            <label for="checkbox5">Martin Luther King Jr. National Historic Site</label>
        </div>
        <div class="funkyradio-default">
            <input type="checkbox" name="checkbox" id="checkbox6" checked/>
            <label for="checkbox6">Piedmont Park</label>
        </div>
        <div class="funkyradio-default">
            <input type="checkbox" name="checkbox" id="checkbox6" checked/>
            <label for="checkbox6">Atlanta History Center</label>
        </div>
        <div class="funkyradio-default">
            <input type="checkbox" name="checkbox" id="checkbox6" checked/>
            <label for="checkbox6">Oakland Cemetery</label>
        </div>
        <div class="funkyradio-default">
            <input type="checkbox" name="checkbox" id="checkbox6" checked/>
            <label for="checkbox6">High Museum of Art</label>
        </div>
        <div class="funkyradio-default">
            <input type="checkbox" name="checkbox" id="checkbox6" checked/>
            <label for="checkbox6">Swan_House</label>
        </div>
        <div class="funkyradio-default">
            <input type="checkbox" name="checkbox" id="checkbox6" checked/>
            <label for="checkbox6">Ebenezer Baptist Church of Atlanta</label>
        </div>
        <div class="funkyradio-default">
            <input type="checkbox" name="checkbox" id="checkbox6" checked/>
            <label for="checkbox6">College_Football_Hall_of_Fame</label>
        </div>
    </div>
</div>
</body>
</html>
